[user]
    name = Corey Olsen
    email = corey@leading2lean.com
[core]
    autocrlf = true
[alias]
    co = checkout
    ci = commit
    st = status
    br = branch
    d = diff
    l = log --stat
[rerere]
    enabled = true
    autoupdate = true
[color]
	ui = auto
